{% extends 'product/base.html' %}

{% block content %}

    <div class="product">
        {% if product.published_date %}
            <div class="date">
                {{ product.published_date }}
            </div>
        {% endif %}
        <h1>{{ product.name }}</h1>
    </div>

    <table>
        <tr>
            <td colspan="2" style="text-align: center"> Калькуляция </td>
            <td colspan="2" style="text-align: center"> Паспорт </td>
        </tr>
        <tr>
            <td style="text-align: center"> Статья затрат </td>
            <td style="text-align: center"> Кол-во </td>
            <td style="text-align: center"> Статья затрат </td>
            <td style="text-align: center"> Кол-во </td>
        </tr>

        {% for item in items %}

            <tr>
                <td style="text-align: right"> {{ item.name }} </td>
                <td style="text-align: right"> {{ item.amount|default_if_none:"" }} </td>
                <td style="text-align: right"> {{ item.name_passport }}  </td>
                <td style="text-align: right"> {{ item.amount_passport }}  </td>
            </tr>

        {% endfor %}

    </table>

    <hr>

    <!-- Таблица для ошибок -->

    <table>

        {% for s in log %}

        <tr>
            <td> {{ s }} </td>
        </tr>

        {% endfor %}

    </table>

{% endblock %}
