{% extends 'product/base.html' %}

{% block content %}

    <div class="product">
        {% if product.published_date %}
            <div class="date">
                {{ product.published_date }}
            </div>
        {% endif %}
        <h1>{{ product.name }}</h1>
        <!-- <p>{{ product.text|linebreaksbr }}</p> -->
    </div>

    <table>
        <tr>
            <td style="text-align: center"> Статья затрат </td>
            <td style="text-align: center"> Цена </td>
            <td style="text-align: center"> Кол-во </td>
            <td style="text-align: center"> % Отх(план) </td>
            <td style="text-align: center"> % Отх(факт) </td>
            <td style="text-align: center"> Доп.расход </td>
            <td style="text-align: center"> Сумма </td>
            <td style="text-align: center"> Порядок </td>
        </tr>

        {% for item in items %}

            <tr>
                <td style="text-align: right"> {{ item.name }} </td>
                <td style="text-align: right"> {{ item.price|default_if_none:""|floatformat:2 }} </td>
                <td style="text-align: right"> {{ item.amount|default_if_none:"" }} </td>
                <td style="text-align: right"> {{ item.waste_percent_plan|default_if_none:"" }} </td>
                <td style="text-align: right"> {{ item.waste_percent_fact|default_if_none:"" }} </td>
                <td style="text-align: right"> {{ item.cost_add|default_if_none:""|floatformat:2 }} </td>
                <td style="text-align: right"> {{ item.summ|floatformat:2 }} </td>
                <td style="text-align: right"> {{ item.sort|default_if_none:"" }} </td>
            </tr>

        {% endfor %}

        <tr>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right"> Итого: </td>
            <td style="text-align: right"> {{ summ_total|floatformat:2 }} </td>
            <td style="text-align: right">  </td>
        </tr>
        <tr>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right"> Коэффициент: </td>
            <td style="text-align: right"> {{ ratio|floatformat:2 }} </td>
            <td style="text-align: right">  </td>
        </tr>
        <tr>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right">  </td>
            <td style="text-align: right"> Цена: </td>
            <td style="text-align: right"> {{ price_shop|floatformat:2 }} </td>
            <td style="text-align: right">  </td>
        </tr>

      </table>

{% endblock %}
