{% extends 'product/base.html' %}

{% block content %}

    <a href="/test_import_pricelist/"> Тестирование идентичности списка изделий в прайс-листе (файл эксель) и в базе данных </a>
    <hr>
    <a href="/test_import_product_calculation/"> Тестирование идентичности списка изделий в калькуляции (файл эксель) и в базе данных </a>
    <hr>
    <a href="/test_import_cost/"> Тестирование идентичности списка статей затрат в калькуляции (файл эксель) и в базе данных </a>
    <hr>
    <a href="/test_import_calculation/"> Тестирование идентичности строк калькуляции (файл эксель) и в базе данных </a>
    <hr>
    <a href="/test_re_price_calc/"> Тестирование правильности текущих расчетных цен </a>
    <hr>
    <hr>
    <a href="/test_total/"> Все тесты </a>
    <hr>

{% endblock %}
